:root {
	--pokemon-bug:		#92C92B; 
	--pokemon-dark:		#575467;
	--pokemon-dragon:	#0566BC;
	--pokemon-electric:	#FFCE3E;
	--pokemon-fairy: 	#EB8EE2;
	--pokemon-fighting:	#D23C50;
	--pokemon-fire:		#F09516;
	--pokemon-flying:	#90AADC;
	--pokemon-ghost:	#776BB6;
	--pokemon-grass:	#35AB5D;
	--pokemon-ground:	#D97845;
	--pokemon-ice:		#96D9D6;
	--pokemon-normal:	#9D9FA0;
	--pokemon-poison:	#D24FBB;
	--pokemon-psychic:	#F76E73;
	--pokemon-rock:		#CDBA6C;
	--pokemon-steel:	#538B9F;
	--pokemon-water:	#5092D5;
	
	--pokergb-bug:      146, 201, 43;
	--pokergb-dark:     87,  84,  103;
	--pokergb-dragon:   5,   102, 188;
	--pokergb-electric: 255, 206, 62;
	--pokergb-fairy:    235, 142, 226;
	--pokergb-fighting: 210, 60,  80;
	--pokergb-fire:     240, 149, 22;
	--pokergb-flying:   144, 170, 220;
	--pokergb-ghost:    119, 107, 182;
	--pokergb-grass:    53,  171, 93;
	--pokergb-ground:   217, 120, 69;
	--pokergb-ice:      150, 217, 214;
	--pokergb-normal:   157, 159, 160;
	--pokergb-poison:   210, 79,  187;
	--pokergb-psychic:  247, 110, 115;
	--pokergb-rock:     205, 186, 108;
	--pokergb-steel:    83,  139, 159;
	--pokergb-water:    80,  146, 213;
	
	--borderRad:		10px;
	--navbar-height:	42px;
	--sidebar-width:	220px;
	--nav-transition:	background .33s, color .33s;
}
@counter-style dexpad {
	system: extends decimal;
	prefix: "#";
	suffix: "";
	pad: "0" 3;
}

/* UNTIL I HAVE ACCOUNT STUFF HIDE IT */
.account {
	display: none!important;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	font-size: .875rem;
	grid-template-columns: var(--sidebar-width) 1fr;
	grid-template-rows: var(--navbar-height) 1fr;
	grid-template-areas:
		"header header"
		"aside main";

	.feather {
		height: 16px;
		width: 16px;
	}
}

/* Main Nav */
header.navbar {
	grid-area: header;
	
	padding: 0;
	z-index: 9001;
	
	.title {
		background-color: rgba(0, 0, 0, .25);
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
		color: #FFF;
		display: inline-block;
		font-size: 1rem;
		height: var(--navbar-height);
		max-width: var(--sidebar-width);
		min-width: var(--sidebar-width);
		padding: .75rem 3rem;
		white-space: nowrap;
		
		&:before {
			content: 'Pokémon GO • ';
		}
		&:after {
			content: '';
			background: url(./images/pokeball.gif) no-repeat;
			background-size: contain;
			display: inline-block;
			left: 1rem;
			position: absolute;
			width: 20px; height: 20px;
		}
	}
	
	#pokedexSearch {
		color: #fff;
		background-color: rgba(255, 255, 255, .1);
		border: none;
		box-shadow: none;
		height: var(--navbar-height);
		outline: none;
		padding: .75rem 1rem;
		transition: all .33s;

		&::placeholder{
			color: rgba(255, 255, 255, .75);
			opacity: 1; /* Firefox */
		}
		&:focus {
			color: var(--bs-body-color);
			background-color: rgba(255, 255, 255, .9);
			
			&::placeholder {
				color: rgba(0, 0, 0, .75);
				opacity: 1; /* Firefox */
			}
		}	
	}

	.dropdown-menu {
		padding-right: 9%;
		width: 100%;

		a:after {
			color: var(--bs-gray-500);
			content: '#' attr(data-value);
			position: absolute;
			right: 1em;
		}
	}

	#burgerHolder {
		align-content: center;
		cursor: pointer;
		display: none;
		height: var(--navbar-height);

		&:not(.open):hover #hamburger {
			transform: rotate(90deg);
			span {
				background: var(--bs-nav-link-hover-color); 

				&:nth-child(1) {
					left: 9px;
					top: 0.5px;
					transform: rotate(45deg);
					width: 8px;
				}
				
				/* TODO: TWEAK #2 1px ON MOBILE?? */

				&:nth-child(3) {
					left: 9px;
					top: 11px;
					transform: rotate(-45deg);
					width: 8px;
				}
			}
		}
		&.open {
			background: var(--bs-nav-link-color);
			color: var(--bs-gray-800);

			#hamburger {
				transform: rotate(90deg);
				span {
					background: var(--bs-gray-800); 

					&:nth-child(1) {
						left: 1px;
						top: 0.5px;
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						left: 1px;
						opacity: 0;
						width: 0%;
					}

					&:nth-child(3) {
						left: 1px;
						top: 11.5px;
						transform: rotate(-45deg);
					}
				}
			}
		}
		/* MAKE ARROW UP ON OPEN HOVER */
		&.open:hover #hamburger {
			transform: rotate(90deg);
			span {
				&:nth-child(1) {
					left: 1px;
                    top: 6px;
					transform: rotate(45deg);
					width: 8px;
				}

				&:nth-child(2) {
					opacity: 1;
					width: 100%;
				}

				&:nth-child(3) {
					left: 1px;
                    top: 6px;
					transform: rotate(-45deg);
					width: 8px;
				}
			}
		}
	
		#hamburger {
			--width: 15px;
			--thick: 2px;

			display: block;
			height: 14px;
			margin: 0 1rem;
			position: relative;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			width: var(--width);
			
			span {
				background: var(--bs-nav-link-color);
				border-radius: 9px;
				display: block;
				height: var(--thick);
				left: 0;
				opacity: 1;
				position: absolute;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
				width: 100%;

				&:nth-child(1) {
					top: 2px;
					transform-origin: left center;
				}

				&:nth-child(2) {
					top: 6px;
					transform-origin: left center;
				}

				&:nth-child(3) {
					top: 10px;
					transform-origin: left center;
				}
			}
		}
	}
}

/* Sidebar */
aside {
	grid-area: aside;
	
	background: var(--bs-light);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	padding-top: calc(var(--navbar-height) + .5em);
	position: fixed;
	width: var(--sidebar-width);
	z-index: 100;

	#pokedex {
		> em, > ul, > ul li {
			width: 100%;
		}

		> em {
			cursor: pointer;
			font-size: 1.1em;
			font-style: normal;

			&:before {
				color: rgba(var(--bs-secondary-rgb), var(--bs-link-opacity, 1));
				content: '▼';
				display: inline-block;
				font-style: normal;
				margin-right: .35em;
				scale: .75;
				transform: rotate(-90deg);
				transition: transform .3s;
                vertical-align: baseline;
			}
			&.open:before {
				transform: rotate(0);
			}
		}
	}
	
	.pokedex-links {
		margin-right: 1px;
		overflow-y: auto;
		position: relative;

		&:before,
		&:after {
            background: linear-gradient(var(--bs-light), transparent 80%);
			content: '';
            display: block;
            height: 10px;
            margin-bottom: -5px;
            position: sticky;
            top: 0;
            width: 100%;
		}
		&:after {
            background: linear-gradient(transparent 20%, var(--bs-light));
            bottom: 0;
            top: initial;
		}

		em:has(+ ul.nav:empty),
		ul.nav:empty {
			display: none;
		}
	}
	
	.nav-item {
		width: 100%;
		transition: var(--nav-transition);
	
		.nav-link {
			font-weight: 500;
			color: var(--bs-gray-700);

			.dexId {
				margin-right: .25em;
				opacity: .8;

				.feather {
					color: inherit;
					margin-right: -.1em;
					scale: .75;
				}
			}
		
			&:hover {	
				background: var(--bs-gray-200);
				color: var(--bs-gray-900);
			}
			&.active {
				background: var(--bs-white);
				border: 1px solid rgba(0, 0, 0, .1);
				border-width: 1px 0;
				color: var(--bs-nav-link-color);
			}			
		}				
	}
	#pokedex .nav-link {
		&.active {
			background: unset;
			border: none;
		}
	}
}

/* Content */
main {
	grid-area: main;
	
	background: var(--bs-body-bg);
	
	article {
		display: none;
		padding: .5rem 1rem;
		
		&.active {
			display: block;
		}
	}

	.type-table {
		cursor: default;
		display: grid;
		gap: 0 0;
		grid-template-rows: 64px repeat(18, 26px);
		
		tr {
			display: grid;
			gap: 0 0;
			grid-template-columns: 64px repeat(18, 1fr);
				
			th { 
				color: #FFF;
	            font-size: 13px;
	            font-variant: small-caps;
				height: 100%;
				/*opacity: .5;*/
				text-shadow: 2px 1px 5px #000;
			}
			
			td {
				align-content: center;
				min-width: 18px;
				/*opacity: .5;*/
				text-align: center;
			}
			
			&:first-child {			
				th {
					align-content: center;
					overflow: hidden;
					text-align: center;
					text-overflow: clip;
					
					&:first-child {
						font-size: 30px;
					}
					
					&:not(:first-child) {
						line-height: unset;
						padding-top: 4px;
						text-align: left;
						text-shadow: -1px 2px 5px #000;
						transform: rotate(180deg);
						writing-mode: vertical-rl;
					}
				}
			}
			
			&:not(:first-child) {
				align-content: center;
				
				th {
					align-content: inherit;
					height: 26px; 
					padding-right: 4px;
					text-align: right; 
				}
			}
		}
		
		+ legend {
			display: grid;
			font-size: 14px;
			grid-template-columns: 2fr repeat(3, 1.5fr) 1fr;
			margin-top: 1em;
		}
	}
}

/* Modal */
dialog {
	border-radius: 20px;
	flex-wrap: wrap;
	max-width: 300px;
	padding: 0;
	
	&::backdrop {
		background-color: rgba(0,0,0,.35);
		backdrop-filter: blur(5px);
	}

	&[open] {
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		display: grid;
	}
	
	&#login[open] {
		display: grid;
		align-items: center;
		font-size: 1rem;
		justify-content: center;
		
		.feather {
			background: #DEDEDE;
			border: 6px solid #000;
			border-radius: 50%;
			display: block;
			height: 100px;
			margin: auto;
			padding: 5px;
			width: 100px;
		}

		p {
			margin: 1em auto;
		}
	}

	h4 {
		background: var(--bs-gray-200);
		margin: 0;
		padding: .5em 1em;
	}

	> div {
		padding: .5em 1em 1.5em 1em;
	}

	ol, ul { padding-left: 1em; }
	li {
		list-style-type: "➣";
        margin: .5em 0;
		padding-left: .5em;
	}
}

@media (max-width: 700px) {
	:root {
		--sidebar-width:	120px;
	}

	body {
		grid-template-areas:
		"header header"
		"main main";
	}
	body.show-sidebar aside.sidebar {
		height: 100%;
	}

	header.navbar  {
		.title:before {
			content: '';
		}

		#burgerHolder {
			display: block;

			&:not(.open):hover #hamburger span:nth-child(1) {
				top: 1px;
			}
		}
	}
		}
	}

	aside.sidebar {
		height: 0;
		overflow: hidden;
		transition: height .3s;
		width: 100%;
	}
}