:root {
	--pokemon-bug:		#92C92B; 
	--pokemon-dark:		#575467;
	--pokemon-dragon:	#0566BC;
	--pokemon-electric:	#FFCE3E;
	--pokemon-fairy: 	#EB8EE2;
	--pokemon-fighting:	#D23C50;
	--pokemon-fire:		#F09516;
	--pokemon-flying:	#90AADC;
	--pokemon-ghost:	#776BB6;
	--pokemon-grass:	#35AB5D;
	--pokemon-ground:	#D97845;
	--pokemon-ice:		#96D9D6;
	--pokemon-normal:	#9D9FA0;
	--pokemon-poison:	#D24FBB;
	--pokemon-psychic:	#F76E73;
	--pokemon-rock:		#CDBA6C;
	--pokemon-steel:	#538B9F;
	--pokemon-water:	#5092D5;
	
	--pokergb-bug:      146, 201, 43;
	--pokergb-dark:     87,  84,  103;
	--pokergb-dragon:   5,   102, 188;
	--pokergb-electric: 255, 206, 62;
	--pokergb-fairy:    235, 142, 226;
	--pokergb-fighting: 210, 60,  80;
	--pokergb-fire:     240, 149, 22;
	--pokergb-flying:   144, 170, 220;
	--pokergb-ghost:    119, 107, 182;
	--pokergb-grass:    53,  171, 93;
	--pokergb-ground:   217, 120, 69;
	--pokergb-ice:      150, 217, 214;
	--pokergb-normal:   157, 159, 160;
	--pokergb-poison:   210, 79,  187;
	--pokergb-psychic:  247, 110, 115;
	--pokergb-rock:     205, 186, 108;
	--pokergb-steel:    83,  139, 159;
	--pokergb-water:    80,  146, 213;

	--note-error-bg:	255 156 156;
	--note-error-text:	96 2 2;
	--note-warn-bg:		255 230 156;
	--note-warn-text:	79 59 1;
	--note-info-bg:		209 242 255;
	--note-info-text:	1 91 126;
	--note-bg:			232, 232, 232;
	--note-text:		63, 63, 63;
	
	--borderRad:		10px;
	--navbar-height:	42px;
	--sidebar-width:	220px;
	--nav-transition:	background .33s, color .33s;
}
@counter-style dexpad {
	system: extends decimal;
	prefix: "#";
	suffix: "";
	pad: "0" 3;
}
@keyframes loadingStripes {
	100% { background-position: -100px 0px; }
}
@keyframes loadingDone {
	0%		{ opacity: 1;	 }
	99%		{ opacity: 0;	 }
	100%	{ display: none; }
}

/* UNTIL I HAVE ACCOUNT STUFF HIDE IT */
.account {
	display: none!important;
}

html, body {
	height: 100%;
}

body {
	display: grid;
	font-size: .875rem;
	grid-template-columns: var(--sidebar-width) 1fr;
	grid-template-rows: var(--navbar-height) 1fr;
	grid-template-areas:
		"header header"
		"aside main";

	.feather {
		height: 16px;
		width: 16px;
	}
}

/* Components */
.banner {
    color: #000;
    margin: -.5rem -1rem .5rem -1rem;
    opacity: .9;
    padding: .5rem 1rem;
    position: sticky;
    top: var(--navbar-height);
    z-index: 6000;	

	&:has(#currentForm:empty) {
		display: none;
	}

	#currentForm {
		background: transparent;
		border: 0;
		cursor: pointer;
		font-size: inherit;
	}
}

.types tag {
	border-radius: 7px;
	color: rgba(255, 255, 255, .9);
	display: inline-block;
	font-size: .5em;
	font-variant: all-small-caps;
	margin: 0 0 0 11px;
	padding: 2px 10px 5px 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
	vertical-align: middle;	

	&.bug		{ background: var(--pokemon-bug); }
	&.dark		{ background: var(--pokemon-dark); }
	&.dragon	{ background: var(--pokemon-dragon); }
	&.electric	{ background: var(--pokemon-electric); }
	&.fairy		{ background: var(--pokemon-fairy); }
	&.fighting	{ background: var(--pokemon-fighting); }
	&.fire		{ background: var(--pokemon-fire); }
	&.flying	{ background: var(--pokemon-flying); }
	&.ghost		{ background: var(--pokemon-ghost); }
	&.grass		{ background: var(--pokemon-grass); }
	&.ground	{ background: var(--pokemon-ground); }
	&.ice		{ background: var(--pokemon-ice); }
	&.normal	{ background: var(--pokemon-normal); }
	&.poison	{ background: var(--pokemon-poison); }
	&.psychic	{ background: var(--pokemon-psychic); }
	&.rock		{ background: var(--pokemon-rock); }
	&.steel		{ background: var(--pokemon-steel); }
	&.water		{ background: var(--pokemon-water); }
}

#preload {
	align-items: center;
	background: url(./images/loading.gif) center center no-repeat var(--bs-gray-800);
	display: grid;
	height: 100%;
	justify-content: center;
	position: absolute;
	width: 100%;
	z-index: 999999;

	&.done {
		animation: loadingDone .65s ease-in forwards;
	}

	progress {
		-webkit-appearance: none;
		appearance: none;
		margin: 13em 0 0 2em;

		&::-webkit-progress-bar {
			background-color: #eee;
			border-radius: 2px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
			height: 10px;
		}

		&::-webkit-progress-value {
			animation: loadingStripes 5s linear infinite;
			background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
			-webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
			-webkit-linear-gradient(left, #F6CF57, #FFC000);
			border-radius: 2px; 
			background-size: 35px 20px, 100% 100%, 100% 100%;
		}
	}
}

/* Main Nav */
header.navbar {
	grid-area: header;
	
	padding: 0;
	z-index: 9001;
	
	.title {
		background-color: rgba(0, 0, 0, .25);
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
		color: #FFF;
		display: inline-block;
		font-size: 1rem;
		height: var(--navbar-height);
		max-width: var(--sidebar-width);
		min-width: var(--sidebar-width);
		padding: .75rem 3rem;
		white-space: nowrap;
		
		&:before {
			content: '';
			background: url(./images/pokeball.gif) no-repeat;
			background-size: contain;
			display: inline-block;
			left: 1rem;
			position: absolute;
			width: 20px; height: 20px;
		}
		&:after {
			content: ' • Pokémon GO';
		}
	}
	
	#pokedexSearch {
		color: #fff;
		background-color: rgba(255, 255, 255, .1);
		border: none;
		box-shadow: none;
		height: var(--navbar-height);
		outline: none;
		padding: .75rem 1rem;
		transition: all .33s;

		&::placeholder{
			color: rgba(255, 255, 255, .75);
			opacity: 1; /* Firefox */
		}
		&:focus {
			color: var(--bs-body-color);
			background-color: rgba(255, 255, 255, .9);
			
			&::placeholder {
				color: rgba(0, 0, 0, .75);
				opacity: 1; /* Firefox */
			}
		}
	}

	.dropdown-menu {
		width: 100%;

		a:after {
			color: var(--bs-gray-500);
			content: '#' attr(data-value);
			position: absolute;
			right: 1em;
		}

		li {
			position: relative;
			a {
				color: var(--bs-dropdown-link-color);
				text-decoration: none;
			}
			&.active {
				background: var(--bs-primary-bg-subtle);
				a {
					color: var(--bs-dropdown-link-color);
				}
			}
		}
	}

	#burgerHolder {
		align-content: center;
		cursor: pointer;
		display: none;
		height: var(--navbar-height);

		&:not(.open):hover #hamburger {
			transform: rotate(90deg);
			span {
				background: var(--bs-nav-link-hover-color); 

				&:nth-child(1) {
					left: 9px;
					top: 0.5px;
					transform: rotate(45deg);
					width: 8px;
				}
				
				/* TODO: TWEAK #2 1px ON MOBILE?? */

				&:nth-child(3) {
					left: 9px;
					top: 11px;
					transform: rotate(-45deg);
					width: 8px;
				}
			}
		}
		&.open {
			background: var(--bs-nav-link-color);
			color: var(--bs-gray-800);

			#hamburger {
				transform: rotate(90deg);
				span {
					background: var(--bs-gray-800); 

					&:nth-child(1) {
						left: 1px;
						top: 0.5px;
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						left: 1px;
						opacity: 0;
						width: 0%;
					}

					&:nth-child(3) {
						left: 1px;
						top: 11.5px;
						transform: rotate(-45deg);
					}
				}
			}
		}
		/* MAKE ARROW UP ON OPEN HOVER */
		&.open:hover #hamburger {
			transform: rotate(90deg);
			span {
				&:nth-child(1) {
					left: 1px;
                    top: 6px;
					transform: rotate(45deg);
					width: 8px;
				}

				&:nth-child(2) {
					opacity: 1;
					width: 100%;
				}

				&:nth-child(3) {
					left: 1px;
                    top: 6px;
					transform: rotate(-45deg);
					width: 8px;
				}
			}
		}
	
		#hamburger {
			--width: 15px;
			--thick: 2px;

			display: block;
			height: 14px;
			margin: 0 1rem;
			position: relative;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			width: var(--width);
			
			span {
				background: var(--bs-nav-link-color);
				border-radius: 9px;
				display: block;
				height: var(--thick);
				left: 0;
				opacity: 1;
				position: absolute;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
				width: 100%;

				&:nth-child(1) {
					top: 2px;
					transform-origin: left center;
				}

				&:nth-child(2) {
					top: 6px;
					transform-origin: left center;
				}

				&:nth-child(3) {
					top: 10px;
					transform-origin: left center;
				}
			}
		}
	}
}

/* Sidebar */
aside.sidebar {
	grid-area: aside;
	
	background: var(--bs-light);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	padding-top: calc(var(--navbar-height) + .5em);
	position: fixed;
	width: var(--sidebar-width);
	z-index: 7000;

	#pokedex {
		> em, > ul, > ul li {
			width: 100%;
		}

		> em {
			cursor: pointer;
			font-size: 1.1em;
			font-style: normal;

			&:before {
				color: rgba(var(--bs-secondary-rgb), var(--bs-link-opacity, 1));
				content: '▼';
				display: inline-block;
				font-style: normal;
				margin-right: .35em;
				scale: .75;
				transform: rotate(-90deg);
				transition: transform .3s;
                vertical-align: baseline;
			}
			&.open:before {
				transform: rotate(0);
			}
		}
	}
	
	.pokedex-links {
		margin-right: 1px;
		overflow-y: auto;
		position: relative;

		&:before,
		&:after {
            background: linear-gradient(var(--bs-light), transparent 80%);
			content: '';
            display: block;
            height: 10px;
            margin-bottom: -5px;
            position: sticky;
            top: 0;
            width: 100%;
		}
		&:after {
            background: linear-gradient(transparent 20%, var(--bs-light));
            bottom: 0;
            top: initial;
		}

		em:not(.open) + ul,
		em:has(+ ul.nav:empty),
		ul.nav:empty {
			display: none;
		}
	}
	
	.nav-item {
		width: 100%;
		transition: var(--nav-transition);
	
		.nav-link {
			font-weight: 500;
			color: var(--bs-gray-700);

			.dexId {
				margin-right: .25em;
				opacity: .8;

				.feather {
					color: inherit;
					margin-right: -.1em;
					scale: .75;
				}
			}
		
			&:hover {	
				background: var(--bs-gray-200);
				color: var(--bs-gray-900);
			}
			&.active {
				background: var(--bs-white);
				border: 1px solid rgba(0, 0, 0, .1);
				border-width: 1px 0;
				color: var(--bs-nav-link-color);
			}			
		}				
	}
	#pokedex .nav-link {
		&.active {
			background: unset;
			border: none;
		}
	}
}

/* Content */
main {
	grid-area: main;
	
	background: var(--bs-body-bg);
	padding-bottom: 2em;
	
	article {
		display: none;
		padding: .5rem 1rem;
		
		&.active {
			display: block;
		}

		h1 {
			margin-bottom: 1.5rem;
			.dexID {
				font-weight: bolder;
				margin-right: .2em;
				opacity: .4;
			}
		}
	}

	.type-table {
		cursor: default;
		display: grid;
		gap: 0 0;
		grid-template-rows: 64px repeat(18, 26px);
		
		tr {
			display: grid;
			gap: 0 0;
			grid-template-columns: 64px repeat(18, 1fr);
				
			th { 
				color: #FFF;
	            font-size: 13px;
	            font-variant: small-caps;
				height: 100%;
				/*opacity: .5;*/
				text-shadow: 2px 1px 5px #000;
			}
			
			td {
				align-content: center;
				min-width: 18px;
				/*opacity: .5;*/
				text-align: center;
			}
			
			&:first-child {			
				th {
					align-content: center;
					overflow: hidden;
					text-align: center;
					text-overflow: clip;
					
					&:first-child {
						font-size: 30px;
					}
					
					&:not(:first-child) {
						line-height: unset;
						padding-top: 4px;
						text-align: left;
						text-shadow: -1px 2px 5px #000;
						transform: rotate(180deg);
						writing-mode: vertical-rl;
					}
				}
			}
			
			&:not(:first-child) {
				align-content: center;
				
				th {
					align-content: inherit;
					height: 26px; 
					padding-right: 4px;
					text-align: right; 
				}
			}
		}
		
		+ legend {
			display: grid;
			font-size: 14px;
			grid-template-columns: 1fr repeat(3, 2fr);
			margin-top: 1em;
		}
	}

	#weather p { margin-top: -.5rem; }
	.weather-grid {
		display: grid;
		grid-template-columns: auto 1fr;

		> div:nth-child(odd) {
            border-right: 1px solid var(--bs-gray-800);
            margin-right: 20px;
            padding: 15px 25px 15px 0;
            text-align: center;
		}
		> div:nth-child(even) {
            padding: 15px 0;
        }

		i.weather {
			background: url('./assets/weather_sunny.webp') center center no-repeat;
			background-size: contain;
			display: inline-block;
			height: 45px;
			width: 45px;

			&.sunny         { background-image: url('./assets/weather_sunny.webp');        }
			&.clear         { background-image: url('./assets/weather_clear.webp');        }
			&.partly-cloudy { background-image: url('./assets/weather_partlyCloudy.webp'); }
			&.cloudy        { background-image: url('./assets/weather_cloudy.webp');       }
			&.rain          { background-image: url('./assets/weather_rain.webp');         }
			&.snow          { background-image: url('./assets/weather_snow.webp');         }
			&.fog           { background-image: url('./assets/weather_fog.webp');          }
			&.windy         { background-image: url('./assets/weather_windy.webp');        }
		}

		span.type {
			display: inline-block;
			margin: 0 1em;
			text-align: center;

			i {
				border-radius: 50%;
				display: inline-block;
				height: 45px;
				width: 45px;

				&:after {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					content: '';
					display: block;
					height: 60%;
					left: 20%;
					position: relative;
					top: 20%;
					width: 60%;
				}

				&.bug      { background: var(--pokemon-bug);		&:after { background-image: url(./assets/type-bug.svg);  } }
				&.dark     { background: var(--pokemon-dark);		&:after { background-image: url(./assets/type-dark.svg); } }
				&.dragon   { background: var(--pokemon-dragon);		&:after { background-image: url(./assets/type-dragon.svg);  } }
				&.electric { background: var(--pokemon-electric);	&:after { background-image: url(./assets/type-electric.svg); } }
				&.fairy    { background: var(--pokemon-fairy);		&:after { background-image: url(./assets/type-fairy.svg); } }
				&.fighting { background: var(--pokemon-fighting);	&:after { background-image: url(./assets/type-fighting.svg); } }
				&.fire     { background: var(--pokemon-fire);		&:after { background-image: url(./assets/type-fire.svg); } }
				&.flying   { background: var(--pokemon-flying);		&:after { background-image: url(./assets/type-flying.svg); } }
				&.ghost    { background: var(--pokemon-ghost);		&:after { background-image: url(./assets/type-ghost.svg); } }
				&.grass    { background: var(--pokemon-grass);		&:after { background-image: url(./assets/type-grass.svg); } }
				&.ground   { background: var(--pokemon-ground);		&:after { background-image: url(./assets/type-ground.svg); } }
				&.ice      { background: var(--pokemon-ice);		&:after { background-image: url(./assets/type-ice.svg); } }
				&.normal   { background: var(--pokemon-normal);		&:after { background-image: url(./assets/type-normal.svg); } }
				&.poison   { background: var(--pokemon-poison);		&:after { background-image: url(./assets/type-poison.svg); } }
				&.psychic  { background: var(--pokemon-psychic);	&:after { background-image: url(./assets/type-psychic.svg); } }
				&.rock     { background: var(--pokemon-rock);		&:after { background-image: url(./assets/type-rock.svg); } }
				&.steel    { background: var(--pokemon-steel);		&:after { background-image: url(./assets/type-steel.svg); } }
				&.water    { background: var(--pokemon-water);		&:after { background-image: url(./assets/type-water.svg); } }
			}
		}
	}

	.monCard {
		align-items: center;
		background-position: left center;
		background-repeat: no-repeat;
		display: flex;
		gap: 10px;
		margin: 1em 0 0 0;
		text-decoration: none;

		* { pointer-events: none; }

		span {
			color: var(--bs-gray-700);
			font-size: 1.05rem;
			opacity: .8;

			&.id {
				font: 600 1.2rem calibri;
				opacity: .7;
			}
			&.name {
				display: block;
				font-weight: bold;
			}
			&.location {
				font-size: .9rem;
				font-style: italic;
			}
		}

		&:hover span {
			opacity: 1;
		}
	}

	#pokemon {
		#mon-name {
			position: relative;
			
			.types {
				position: absolute;
				right: 0;

				tag {
					margin-top: -5px;
				}
			}
		}

		#apb {
			display: grid;
			font-variant: all-small-caps;
			font-size: 1.75rem;
			gap: 30px 10px;
			grid-template-columns: repeat(3, 1fr);
			
			div {
				align-items: center;
				border: 1px solid #333;
				border-radius: 10px;
				color: #666;
				display: flex;
				padding: 10px 20px;
				position: relative;
				
				i.activity { 
					background-position: left center;
					background-repeat: no-repeat;
					background-size: contain;
					display: inline-block;
					height: 32px;
					width: 32px;
				}

				.cp { font-variant: normal; margin: 0 3px 0 7px; }
				
				.boost {
					position: absolute;
					right: 5px;
					top: -24px;
					
					i {
						background-color: #dadada;
						background-position: center center;
						background-size: contain;
						border: 1px solid #999;
						border-radius: 50%;
						display: inline-block;
						height: 36px;
						margin: 0 0 0 5px;
						width: 36px;
						
						&.clear			{background-image: url(assets/weather_clear.webp);}
						&.cloudy		{background-image: url(assets/weather_cloudy.webp);}
						&.fog			{background-image: url(assets/weather_fog.webp);}
						&.partly-cloudy	{background-image: url(assets/weather_partlyCloudy.webp);}
						&.rain			{background-image: url(assets/weather_rain.webp);}
						&.snow			{background-image: url(assets/weather_snow.webp);}
						&.sunny			{background-image: url(assets/weather_sunny.webp);}
						&.windy			{background-image: url(assets/weather_windy.webp);}
					}
				}
				
				&.wild-w i,
				&.wild i { 
					background-image: url(./assets/wild.webp);
				}
				
				&.research i { 
					background-image: url(./assets/research.webp);
				}
				
				&.raid-w i,
				&.raid i { 
					background-image: url(./assets/raid.webp);
				}
				
				&.hatched i { 
					background-image: url(./assets/eggs.png);
				}
			}
		}

		#pokenotes {margin: auto -1rem;}
		.pokenote {
			align-items: center;
			display: grid;
			grid-template-columns: auto 1fr;
			margin-top: 1rem;
			padding: .5em;

			+ .pokenote {
				margin-top: .5rem;
			}

			.feather { 
				height: 24px;
				margin: 0 .5rem;
				width: 24px;
			}

			p { margin: 0; }

			&:has(#region:empty),
			&:has(p:empty) {
				display: none;
			}
			#region {
				font-weight: 550;
			}

			&.not-released {
				background: rgba(var(--note-error-bg));
				color: rgb(var(--note-error-text));
			}

			&.warning {
				background: rgba(var(--note-warn-bg));
				color: rgb(var(--note-warn-text));
			}

			&.regional {
				background: rgba(var(--note-info-bg));
				color: rgb(var(--note-info-text));
			}

			&.general {
				background: rgba(var(--note-bg));
				color: rgb(var(--note-text));
			}
		}

		#megas {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
			margin: -.5em auto .5em auto;

			.mega-card {
				color: #000;
				font-size: 14px;
				margin: 0;
			    padding: 10px 20px;
			    position: relative;
				text-align: center;
			    text-decoration: none;
			    transition: all .5s;
				
				&:hover i {		
					&:before,
					&:after {
						opacity: .75;
					}
				}
				
				i {		
					&:before,
					&:after {
						background-repeat: no-repeat;
						border: 2px solid #FFF;
						border-radius: var(--borderRad);
						content: '';
						display: block;
						left: 0; top: 0;
						opacity: .25;
						position: absolute;
						width: 100%; height: 100%;
					}
				}

				span {
					position: relative;
					z-index: 1;
				}
				
				&[data-type="bug"] i:before		 { background: var(--pokemon-bug); }
				&[data-type="dark"] i:before	 { background: var(--pokemon-dark); }
				&[data-type="dragon"] i:before	 { background: var(--pokemon-dragon); }
				&[data-type="electric"] i:before { background: var(--pokemon-electric); }
				&[data-type="fairy"] i:before	 { background: var(--pokemon-fairy); }
				&[data-type="fighting"] i:before { background: var(--pokemon-fighting); }
				&[data-type="fire"] i:before	 { background: var(--pokemon-fire); }
				&[data-type="flying"] i:before	 { background: var(--pokemon-flying); }
				&[data-type="ghost"] i:before	 { background: var(--pokemon-ghost); }
				&[data-type="grass"] i:before	 { background: var(--pokemon-grass); }
				&[data-type="ground"] i:before	 { background: var(--pokemon-ground); }
				&[data-type="ice"] i:before		 { background: var(--pokemon-ice); }
				&[data-type="normal"] i:before	 { background: var(--pokemon-normal); }
				&[data-type="poison"] i:before	 { background: var(--pokemon-poison); }
				&[data-type="psychic"] i:before	 { background: var(--pokemon-psychic); }
				&[data-type="rock"] i:before	 { background: var(--pokemon-rock); }
				&[data-type="steel"] i:before	 { background: var(--pokemon-steel); }
				&[data-type="water"] i:before	 { background: var(--pokemon-water); }

				&[data-type2="bug"] i:after		 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-bug) 75%); }	
				&[data-type2="dark"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-dark) 75%); }
				&[data-type2="dragon"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-dragon) 75%); }
				&[data-type2="electric"] i:after { background: linear-gradient(150deg, transparent 70%, var(--pokemon-electric) 75%); }
				&[data-type2="fairy"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-fairy) 75%); }
				&[data-type2="fighting"] i:after { background: linear-gradient(150deg, transparent 70%, var(--pokemon-fighting) 75%); }
				&[data-type2="fire"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-fire) 75%); }
				&[data-type2="flying"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-flying) 75%); }
				&[data-type2="ghost"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-ghost) 75%); }
				&[data-type2="grass"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-grass) 75%); }
				&[data-type2="ground"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-ground) 75%); }
				&[data-type2="ice"] i:after		 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-ice) 75%); }
				&[data-type2="normal"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-normal) 75%); }
				&[data-type2="poison"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-poison) 75%); }
				&[data-type2="psychic"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-psychic) 75%); }
				&[data-type2="rock"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-rock) 75%); }
				&[data-type2="steel"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-steel) 75%); }
				&[data-type2="water"] i:after	 { background: linear-gradient(150deg, transparent 70%, var(--pokemon-water) 75%); }
			}
		}

		#mega-levels {
			margin-bottom: 1rem;
			display: flex;
			gap: 10px;
			justify-content: space-around;

			dl {
				border: 1px solid var(--bs-gray-800);
				border-radius: var(--borderRad);
				display: inline-block;
				margin-bottom: 0;
				max-width: 200px;
				position: relative;
				text-align: center;
				vertical-align: top;
				width: 100%;

				dt {
					background: var(--bs-gray-200);
					border-radius: var(--borderRad) var(--borderRad) 0 0;
					border-bottom: 2px solid rgba(0, 0, 0, .1);
					padding: 5px;

					&:before {
						background: url(./assets/mega.webp) center center no-repeat;
						background-size: 45px;
						content: '';
						display: block;
						height: 60px;						
					}
				}

				dd {
					margin: .5rem 0;
					padding-bottom: 2rem;

					&:after {
						background: var(--bs-gray-700);
						border-radius: 0 0 var(--borderRad) var(--borderRad);
						bottom: 0;
						color: var(--bs-secondary-bg);
						content: attr(data-cooldown) ' day cooldown';
						left: 0;
						padding: 4px;
						position: absolute;
						width: 100%;
					}

					p:last-child {
						bottom: 0;
						position: relative;
					}
				}

				p {
					margin-bottom: .5em;
				}
			}
		}

		h3 {
			&:has(+ div) { cursor: zoom-out; }
			margin-top: 1rem;

			+ div {
				height: fit-content;
			}

			&.hide {
				cursor: zoom-in;
			
				+ div {
					border-bottom: 1px solid;
					border-image-slice: 1;
					border-image-source: linear-gradient(to left, var(--bs-gray-800) 42.75%, transparent 42.75%, transparent 57.25%, var(--bs-gray-800) 57.25%);
					min-height: 30px;
					overflow: hidden;
					padding-bottom: 10px;
					position: relative;

					&:not(.effectiveness) p { display: none; }
					#megas { margin: .5em auto; }

					&.mega-buddies { max-height:60px; }
					&.effectiveness { max-height:30px; }
					&.cp-chart { max-height:75px; }

					&:before, &:after{
						bottom: 0;
						content: '';
						display: block;
						position: absolute;
					}
					&:before{
						background: linear-gradient(to top, white, transparent);
						height: 15px;
						width: 100%;
					}
					&:after {
						background: #FFFFFFCC;
						backdrop-filter: blur(1px);
						border: 1px solid var(--bs-gray-800);
						border-radius: 10px 10px 0 0;
						bottom: -7px;
						color: var(--bs-gray-800);
						content: '︾';
						cursor: pointer;
						font-size: 1.25em;
						left: 42.5%;
						padding-top: 2px;
						width: 15%;
						text-align: center;						
					}
				}
			}
		}

		.effectiveness {
			margin-top: 1em;

			dl:has(dd:empty) {
				display: none;
			}
			dt, dd {
				display: inline-block;
			}
		}

		.grid-table {
			aside,
			article {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				text-align: center;
				
				div {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					padding: 5px;			
				}
			}
		}
	}
}

/* Modal */
dialog {
	border-radius: 20px;
	flex-wrap: wrap;
	max-width: 75%;
	padding: 0;
	
	&::backdrop {
		background-color: rgba(0,0,0,.35);
		backdrop-filter: blur(5px);
	}

	&[open] {
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		display: grid;
	}
	
	&#login[open] {
		display: grid;
		align-items: center;
		font-size: 1rem;
		justify-content: center;
		
		.feather {
			background: #DEDEDE;
			border: 6px solid #000;
			border-radius: 50%;
			display: block;
			height: 100px;
			margin: auto;
			padding: 5px;
			width: 100px;
		}

		p {
			margin: 1em auto;
		}
	}

	h4 {
		background: var(--bs-gray-200);
		margin: 0;
		padding: .5em 1em;
	}

	> div {
		padding: .5em 1em 1.5em 1em;
	}

	ol, ul { padding-left: 1em; }
	li {
		list-style-type: "➣";
        margin: .5em 0;
		padding-left: .5em;
	}
}


@media (min-width: 700.1px) {
	main #pokemon {
		.grid-table article {
			padding: .5rem 0;

			div:nth-child(odd) {
				background: #dadada;
			}
		}
	}
}

@media (max-width: 700px) {
	:root {
		--sidebar-width:	120px;
	}

	body {
		grid-template-areas:
		"header header"
		"main main";
	}

	aside.sidebar {
		height: 0;
		overflow: hidden;
		padding-top: 0;
		transition: height .3s;
		width: 100%;
	}
	body.show-sidebar aside.sidebar {
		height: 100%;
		padding-top: calc(var(--navbar-height) + .5em);
	}

	header.navbar  {
		.title:after {
			content: '';
		}

		#burgerHolder {
			display: block;

			&:not(.open):hover #hamburger span:nth-child(1) {
				top: 1px;
			}
		}
	}

	main {
		.weather-grid {
			> div:nth-child(even),
			> div:nth-child(odd) {
				padding-bottom: 10px;
				padding-top: 10px;
			}

			span.type i,
			i.weather {
				height: 40px;
				width: 40px;
			}
		}

		#pokemon {
			#apb {		
				grid-template-columns: repeat(2, 1fr);			

				.wild		{ order: 0; }
				.raid		{ order: 1; }
				.wild-w 	{ order: 2; }
				.raid-w		{ order: 3; }
				.research	{ order: 4; }
				.hatched	{ order: 5; }
			}

			h3.hide + div.mega-buddies { max-height:105px; }

			.grid-table {
				aside,
				article {
					grid-template-columns: repeat(2, 1fr);
					padding: .5rem 0;

					.x2-hide {
						display: none;
					}
				}

				/* TO UPDATE ALSO NEED TO CHANGE ORDER GENERATED IN JS WITH SCREENSIZE */
				article div {
					&:nth-child(1), &:nth-child(26),
					&:nth-child(3), &:nth-child(28),
					&:nth-child(5), &:nth-child(30),
					&:nth-child(7), &:nth-child(32),
					&:nth-child(9), &:nth-child(34),
					&:nth-child(11), &:nth-child(36),
					&:nth-child(13), &:nth-child(38),
					&:nth-child(15), &:nth-child(40),
					&:nth-child(17), &:nth-child(42),
					&:nth-child(19), &:nth-child(44),
					&:nth-child(21), &:nth-child(46),
					&:nth-child(23), &:nth-child(48),
					&:nth-child(25), &:nth-child(50) {
						background: #dadada;
					}
				}
			}
		}
	}
}